/* Colors and fonts */
body {
    background: #e2e7f0;
    color: #575F7D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin: 0;
  }

#text-to-animate {
  color: #fdfdfc;
  font-size: 3vw;
  font-weight: 200;
  height: 100px;
  padding-top: 2vw;
}
#background-gradient {
  width: 100vw;
  /* background: #2005b9; */
  display: flexbox;
  justify-content: center;
  margin: 0 auto;
  background: radial-gradient(circle, #03023b, #0d18b3);
  background-size: 200% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header {
  background: rgba(255, 255, 255, 0);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 15% ;
  animation-delay: 5s;
}

.display_none {
  display: none;
}
.my-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  text-transform: uppercase;
  color:  #e2cd11;
  font-weight: 100;
}

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  p {
    font-weight: 500;
    line-height: 1.6;
  }

  h1 {
    color: #fafafa;
    font-size: 2vw;
    font-weight: 200;
    
  }

  h2 {
    color: #be5f1f;
    font-size: 60px;
    font-weight: 300;
  }

  h3 {
    color: #adaaa8;
    font-size: 2vw;
    font-weight: 500;

  }

  a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 200;
    font-size: 16px;
  }

  a:hover {
    color: black;
  }
  .accroche {
    color: #fcfcfc;
    font-size: 35px;
    font-weight: 100;

  }

.container {
  width: 100vw;
  margin: 0 auto;
}

.section-01 {
  width: 100vw;
  height: 70vh;
  /* background: #2005b9; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20vh;

}

.section-02 {
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  margin: 3% auto;
}

.section-03 {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-box {
  width: 40vw;
  padding: 3%;
}

.image-box {
  overflow: hidden;
  width: 30vw;
  position: relative;
}

.image-box img{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.card-white {
  min-height: 60vh;
  width: 27vw;
  background-color: white;
  padding: 3vw;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 0;
  text-align: left;
  border-width: 0;
  border-bottom-width: 1vw;
  border-bottom-color: #2005b9;
  border-style: solid;
}

#card-01 {
  border-bottom-color: #b63232;
}

#card-03 {
  border-bottom-color: #dbcd00;
}

#card-04 {
  border-bottom-color: #2e2e2a;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 0.4vw;
}
.list-inline i {
  font-size: 1.6vw;
  color:  #e2cd11;
}
.list-inline i:hover {
  color: black;
}

.code-once {
  font-size: 3vw;
  text-align: center;
  font-weight: 100;

}

.animate {
  font-weight: 900;
  font-size: 2vw;
  text-align: center;

  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.sliding-container {
  display: flex;
  overflow: hidden;
}

.sliding-item {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease;
}

.sliding-item:first-child {
  margin-right: auto;
}

.sliding-item.slide-in {
  transform: translateX(0%);
}

.sliding-item.slide-out {
  transform: translateX(-100%);
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* optional: add a transition effect */
}

.fade-in-visible {
  opacity: 1;
  /* additional styling here */
}

@keyframes fade-in-h {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-header {
  opacity: 0;
  animation: fade-in-h 1s ease-in-out;
  animation-fill-mode: forwards;
}

.lottie-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 50vh; /* adjust to your needs */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}